# Dependencies
/node_modules
/design

# Logs
*.log*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore

# Bundle artifact
*.jsbundle

# Key
*.p12
*.key
*.jks
*.mobileprovision

# Expo
.expo/

# added by KodeFox
/coverage

fitbit.ts
nutritionix.ts